<head>
    {{> meta_tags}}
    <link rel="stylesheet" href="/content/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/theme.css" />
    <title>Page Not Found</title>
    <link rel="icon" href="{{favicon}}" type="image/png" sizes="16x16">
</head>

<body>
    {{> head}}
    <h1 class="txt-color text-center">Error 404</h1>
    <h3 class="txt-color text-center">Page not found!</h3>

    <p class="text-center mt-5"><a href="/" class="btn btn-info">Back to Homepage.</a></p>
</body>