<head>
    {{> meta_tags}}
    <link rel="stylesheet" href="/content/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/theme.css">
    <link rel="stylesheet" href="/content/css/components.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/content/bootstrap.bundle.min.js"></script>
    <title>{{data.title}}</title>
    <link rel="icon" href="{{favicon}}" type="image/png" sizes="16x16">
</head>

<body>
    {{> head}}
    <h1 class="txt-color text-center">{{data.name}}</h1>
    {{#each content}}
    <section class="container">
        {{> (lookup . 'componentType')}}
    </section>
    {{/each}}

    <script src="/content/symbols/feather.min.js"></script>
    <script>
        feather.replace({ width: '60', height: '60', 'stroke-width': '1' });
        $('.carousel').carousel()
    </script>
</body>