<section class="video-component">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{componentData}}" title="YouTube Video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>